{# ═══════════════ SINGLE BLOG ═══════════════ #}
{% extends "layouts/master.twig" %}
{% block title %}{{ blog.title }} | {{ store.name }}{% endblock %}
{% block content %}
<div class="page-blog-single">
    <div class="container container--narrow">
        <nav class="breadcrumb">
            <a href="{{ store.url }}">{{ 'الرئيسية' | trans }}</a>
            <i class="sicon-keyboard_arrow_left"></i>
            <a href="{{ 'blog' | page_url }}">{{ 'المدونة' | trans }}</a>
            <i class="sicon-keyboard_arrow_left"></i>
            <span>{{ blog.title }}</span>
        </nav>
        <article class="blog-single">
            <span class="blog-single__date">{{ blog.date | date('d M Y') }}</span>
            <h1>{{ blog.title }}</h1>
            {% if blog.image %}
                <img src="{{ blog.image }}" alt="{{ blog.title }}" class="blog-single__cover">
            {% endif %}
            <div class="blog-single__content">{{ blog.content | raw }}</div>
            <salla-social-share></salla-social-share>
        </article>
        {% include 'components/product/comments.twig' %}
    </div>
</div>
{% endblock %}
